@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
body{ font-size:12px; font-family:"微软雅黑","宋体";}
hi,h2,h3,h4,h5,h6,strong,b,i{ font-size:14px; font-weight:normal; font-style:normal;}
a{ text-decoration:none; color: #565656;}
em,i{font-style: normal;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:""; clear:both; display:block;}
.clearfix{ zoom:1;}
img{ border:none;}
input{ outline:none;}
.w{ width:1180px; margin:0 auto;}
.pab{ position:absolute;}
.pre{ position:relative;}