@charset "utf-8";
div {
  margin-bottom: 3px;
  float: left;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-bottom: 5px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: "block";
  clear: "both";
}
.box1 {
  height: 200px;
}
.box1 li {
  width: 300px;
  height: 50px;
  background: #ff0000;
}
.box1 li a {
  color: #000;
}
.box1 li a:hover {
  color: #fff;
}
