
body{width: 100%; height: 100%;}

.sidebar{ width: 50px; height:7250px; background: #535353; right: 5px;}
.sidebar li{ color: #fff;  margin: 22px 0 0 14px;}
.sidebar li i{ width: 20px; height: 20px;display: block; }
.sidebar li a{ color: #fff;  text-align: center; width: 50px; }
.sidebar li a:hover{ color: red; }
.sidebar .qiangpiao{ right: 35px; }
.sidebar b{ width: 11px; height: 11px; background: url(../img/guanbi.png) no-repeat;  right: 110px; display: block; }
/*头部 开始*/
.header{ font-size: 14px;  }
.header a:hover{ color: red; }
.header_left{ width: 254px; padding-top: 12px;}
.header_left h1{ width:140px; height:40px; background:url(../img/logo.png) no-repeat left center; }
.souye{ height: 40px; text-align: center; line-height: 33px;color: #555; margin: 0 20px 0 10px;}
.pindao{ width:50px; height: 33px; background: url(../img/header_pindao.png)no-repeat left center;  text-align: center; line-height: 33px; color: #555; padding-left: 6px; }
.pindao_more{ width: 170px; height: 454px; border: 1px solid #ddd; box-shadow: 0 0 2px 2px #ccc; top: 30px; left: -62px;  z-index: 2; display: none; background: #fff;}
.header_cen{ width: 320px;  height: 40px; margin-top: 12px; margin-left: 60px;}
.header_cen input{ width: 228px; height: 36px; border: 2px solid #a0a0a0; border-right: none;}
.header_cen .sousuo{ width: 90px; height: 40px;background-color: #2c8ce0; text-align: center; line-height: 40px; color: #fff; font-weight: bold; font-size: 14px;}
.sousuo i{ width: 14px; height: 14px; background: url(../img/suosuo.png) no-repeat left center; float: left; margin-left: 10px; margin-top: 12px;}
.header_right a{float: left; font-size: 14px; color: #555;  margin: 26px 0 0 18px;}
.shangchuan{ width: 60px; height: 16px; background: url(../img/shangchuan.png) no-repeat left center; padding-left: 16px; margin-right: 10px; }
.shangchuan i{ width: 8px; height: 16px; background: url(../img/shangchuan1.png) no-repeat right center; margin-left: 4px; }
.shangchuan i.shangchuan_dian{ background: url(../img/shangchuan3.png) no-repeat right center; }
.denglu{ width: 84px; height: 16px; background: url(../img/denglu.png) no-repeat left center;  padding-left: 18px;}
.shangchuan_more{ width: 208px; height: 106px; border: 1px solid #ddd; box-shadow: 0 0 2px 2px #ccc; top: 20px; left: 0; display: none; z-index: 2; background: #fff;}

/*头部结束*/
/*导航开始*/
.nav{ height: 608px; margin-top: 20px; }
.nav_top{  height: 35px; border-bottom: 3px solid #e6e6e6; line-height: 35px; font-size: 16px; position: relative; } 
.nav_top a{ margin-right: 20px;  color: #555;}
.nav_top a:hover{ color: #3399e0; }
.nav_i{ width: 80px; height:35px; background: url(../img/shangchuan1.png) no-repeat right center; padding-right: 10px;}
.nav_i:hover{background: url(../img/shangchuan3.png) no-repeat right center;}
.nav .con{ width: 32px; height: 3px; background: #06a7e1; position: absolute;  bottom:-3px;left: 0;} 
.nav_i_{ font-size: 14px; }
.nav_top .nav_more li{ float: left; display: none; }
.nav_top .nav_more li.nav_more_i{ display: block; }

.nav_bottom{ width: 970px; height: 406px; margin-top: 40px; }
.nav_bottom .list{ overflow: hidden; position: absolute; bottom: 0; left: 50%; margin-left: -20px; z-index: 10; }
.nav_bottom .list li{ width: 10px; height: 10px; border: 3px solid #666; border-radius: 50%;  float: left; background: #fff; margin: 0 5px;}
.nav_bottom .list li.on{background: #69aaec;}
.nav_bottom img{width: 970px; height: 406px; display: block; position: absolute;bottom: 0; left: 0; opacity: 0; filter: alpha(opacity=0);}
.nav_bottom img.con_img{ opacity: 1; filter:alpha(opacity=100); }

.nav_fooder{ height: 90px; border-bottom: 3px solid #e6e6e6; margin-top: 24px; }
.nav_fooder li{ float: left; width: 225px; height: 90px; }
.nav_fooder li h2{ width: 225px; height: 22px; background: #f5f5f5; margin-bottom: 10px; }
.nav_fooder li h2 span{ width: 85px; height: 22px; background:#909090; text-align: center; line-height: 22px; color: #fff; font-weight: bold; display: block; }
.nav_fooder li a{ color: #555; height: 25px; line-height: 25px; margin-right: 20px; }
.nav_fooder li a:hover{ text-decoration:underline; color: red; }
.nav_fooder li a.nav_bot_i{ margin-right: 0; }
.nav_fooder li.nav_bot_li{ width: 294px; }
.nav_fooder li.nav_bot_li h2{ width: 294px; }
/*导航结束*/


.hot ul li{ float: left; margin: 40px 20px 0 0; }
.hot img.hot_img{margin-top: 40px;}
/*热点结束*/

.yugao_left{ margin-top: 40px; }
.yugao_list{overflow: hidden; margin-bottom: 16px;}
.yugao_list li{ font-size: 20px; color: #555; float: left; width: 120px; height: 30px; text-align: center; line-height: 30px; cursor:pointer;}
.yugao_list li.on{width: 120px; height: 30px; background: #06a7e1; text-align: center; line-height: 30px; color: #fff;}
.yugao_con div{ width: 660px; height: 238px; display: none; }

.yugao_con_div{}
.yugao_con_div a{ display: block; float: left;  width: 200px; height: 110px; box-shadow: 0 0 2px 2px #ddd; margin:0 20px 14px 0;}
.yugao_con_div a img{ width: 200px; height: 110px; bottom: 0; left: 0; }
.yugao_con_div a dl{ bottom: 10px; left: 2px; }
.yugao_con_div a dl dt{font-size: 14px; color:#f1f1f1;}
.yugao_con_div a dl dd{ font-size: 12px; color: #bbb; }

.yugao_right h2{ font-size: 24px; color: #909090; margin-top: 44px;}
.yugao_right h2 a{ font-size: 12px; color: #555;  margin-left: 6px;}
.yugao_right div{ width: 310px ;height: 240px; text-align: center; line-height: 240px; font-size: 14px; color: #909090; }
/*电影预告  结束*/

.dfbz h2{ height: 70px;  }
.dfbz h2 span{ font-size: 26px;color: #909090; line-height: 70px; height: 70px; }
.dfbz h2 i{ color: #231916; font-weight:bold; height: 70px; line-height: 70px;}
.dfbz h2 i em{ font-size: 18px; color: #142753;  }

.dfbz_bot{ height: 322px; }
.dfbz_bot .dfbz_list{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list li.on{ background:#69aaec; }
.dfbz_con div{display: none;}
.dfbz_con_more{ display:none; }
.dfbz_con_more a{ width: 200px; height: 300px;  display: block; float: left; margin-right: 20px;}
.dfbz_con_more a img{ width: 200px; height: 300px; position: absolute; bottom: 0; left: 0;}
.dfbz_con_more a dl{ position: absolute; bottom:2px; left: 2px;}
.dfbz_con_more a dt{font-size: 14px; color: #fff;}
.dfbz_con_more a dd{ font-size: 12px; color: #ddd; }
.dfbz_con_more img.bange{ width: 90px; height: 300px; }
.dfbz_con_more a.mar_0{margin-right: 0;}




.dfbz_bot .dfbz_list1{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list1 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list1 li.on{ background:#69aaec; }
.dfbz_con1 div{display: none;}


.dfbz_bot .dfbz_list2{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list2 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list2 li.on{ background:#69aaec; }
.dfbz_con2 div{display: none;}

.dfbz h2 span a.remen{ color: #555; font-size: 12px; margin-left: 10px; }
.dfbz_bot .dfbz_list3{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list3 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list3 li.on{ background:#69aaec; }
.dfbz_con3 div{display: none;}
/*院线精选  结束*/

.wdy_left{ width: 640px;  height: 320px; }
.wdy_left h2{ height: 67px; line-height: 67px; font-size: 24px;color: #909090; }
.wdy_left li{ width: 200px; height: 110px;  position: relative; float: left;  margin-bottom: 20px;}
.wdy_left a img{width: 200px; height: 110px;  bottom: 0; left: 0;}
.wdy_left dl{ bottom: 2px; left: 2px; }
.wdy_left dt{ font-size: 14px; color: #fff; }
.wdy_left dd{ font-size: 12px; color:#bbb; }
.wdy_left .wdy_cen{ margin: 0 20px; }
.wdy_left a img.guanggao{ width: 640px; height: 110px; }

.wdy_right{ width: 310px; height: 320px; }
.wdy_right h2{ height: 67px; line-height: 67px; font-size: 24px;color: #909090; }
.wdy_right a{ color: #555;  font-size: 14px;  display: block;  margin-bottom: 6px;}
.wdy_right dl{ margin: 5px 0 0 10px; }
.wdy_right dd{ font-size: 12px; color: #909090; }

/*微电影*/
..dfbz h2 b{font-size: 15px;}
.dfbz_bot .dfbz_list4{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list4 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list4 li.on{ background:#69aaec; }
.dfbz_con4 div{display: none;}
.dfbz_con_a span.pinfen{font-size: 18px; color: #ff2020; bottom: 2px; right: 2px;}
.dfbz_con_a span.pinfen i{ font-size: 14px; }
/*会员免费*/

.women_left{ width: 640px; height: 385px;  }
.women_left h2 i{ width: 80px;height: 22px; background: url(../img/move.png) no-repeat;  margin-top: 22px;	}
.women_l_bot{ width: 640px; height: 323px; border: 1px solid red; }
.dfbz_con_more a.women_mar0{margin-right: 0;}
.dfbz_bot .dfbz_list5{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list5 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list5 li.on{ background:#69aaec; }
.dfbz_con5 div{display: none;}

.women_right{ width: 310px; height: 360px; margin-top: 8px; }
.women_right li{ width: 76px; height: 30px; float: left; text-align: center; line-height: 30px; font-size: 14px; }
.women_right li.on{ width: 76px;  height: 30px; background: #06a7e1;  color: #fff;}
.women_r_con .women_con{display: none;}
.women_r_con a{display: block; margin-top: 16px;}
.women_r_con a span{ font-size: 14px; color: #555; margin-left: 10px;  }
.women_r_con a img{ width: 90px; height: 50px; }
/*女性影院*/

.dfbz_bot{ margin-bottom: 18px; }
.dfbz_bot .dfbz_list6{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .dfbz_list6 li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .dfbz_list6 li.on{ background:#69aaec; }
.dfbz_con6 div{display: none;}
.huayu_right{width: 310px; height: 518px;}
.huayu_right li{ overflow: hidden; margin-bottom: 10px; }
.huayu_right li i{ width:20px; height: 20px; background: #03a7e1; text-align: center; line-height: 20px;color: #fff; }
.huayu_right li span{ font-size:14px;  color: #555; margin-left: 10px; }
.huayu_right li em{ background: red; display: block; }
.huayu_paonan{ margin-top: 48px; }
/*华语电影 结束*/
.gangtai{ height: 390px; }
.gangtai_right{ margin-top: 30px;  height: 380px;}
.huayu_right h3 i{ width: 104px; height: 30px; float: left; text-align: center; line-height: 30px; font-size: 14px; font-style: normal;}
.huayu_right h3 i.on{ width: 104px;  height: 30px; background: #06a7e1;  color: #fff;}
.huayu_right p{ margin-bottom: 14px; margin-top: 6px; }
.gangtai_right .gangtai_con ul{display: none;} 
 /*港台经典*/ 

.dfbz_bot .mlj_list{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .mlj_list li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .mlj_list li.on{ background:#69aaec; }
.mlj_con div{display: none;}
.mlj_left h2 i{ width: 122px; height: 25px; background: url(../img/hezuo.png) no-repeat right center; }
/*美利坚*/

.dfbz_bot .rty_list{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .rty_list li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .rty_list li.on{ background:#69aaec; }
.rty_con div{display: none;}
.rty_left h2 i{ width: 122px; height: 33px; background: url(../img/rihan.png) no-repeat right center; }

.rhy_right{}
.rhy_right li{margin-bottom: 28px;}
.rhy_right li dt{ font-size: 14px; color: #555; margin: 0 0 10px 10px; }
.rhy_right li dd{ font-size: 12px; color: #909090; margin-left: 10px; }
.rhy_paonan{ margin-top: 35px; }
 /*日韩亚*/

.dfbz_bot .ozf_list{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .ozf_list li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .ozf_list li.on{ background:#69aaec; }
.ozf_con div{display: none;}
.ozf_r_con{ margin-top: -15px; }
/*欧洲风*/

.dfbz_bot .yiyuan_list{ overflow: hidden; bottom: 0px; left: 50%; margin-left: -15px;}
.dfbz_bot .yiyuan_list li{ width: 10px; height: 10px; background:#c3c3c3; border-radius: 50%;  float: left; margin: 0 5px;   cursor:pointer; ; }
.dfbz_bot .yiyuan_list li.on{ background:#69aaec; }
.yiyuan_con div{display: none;}
/*亿元票房俱乐部*/
.logo h2{ height: 26px;  font-size:24px; color: #909090; }
.logo .logo_bot a{ float: left; margin-right: 50px; margin-top: 22px;}
.logo .logo_bot a.logo_mar0{ margin-right: 0; }

.footer{ height: 164px; border-top: 2px solid #ddd; margin-top: 78px; }
.footer li{ float: left;  margin: 20px 20px 0 0 ;}
.footer li h5{}
.footer li a{ color: #555; height: 28px; line-height: 28px; margin-right: 10px; }

.copyright li{ float: left; margin-right: 40px;}
.copyright li a{ height: 26px; line-height: 26px; color: #555; }
.copyright li.anquan a{ width: 14px; height: 16px; background: url(../img/anquan.png) no-repeat left center;  padding-left: 20px;}
.erweima dt{ font-size: 16px; }
.erweima dl{ margin-left: 20px; }
.copyright p{ text-align: center; width: 970px;  font-size: 14px;}











